# .NET
bin/
obj/
*.user
*.suo
*.vs/

# Node
node_modules/
dist/

# IDE
.idea/
.vscode/

# Logs
logs/

# OS
Thumbs.db
.DS_Store

# Secrets
*.pfx
*.key
*.crt
.env

# Docker runtime state
docker/less3/db/*.db*
docker/less3/disk/default/
